<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <connectionStrings>
   <add connectionString="Data Source=HPBV\BVSQLEXPRESS;Initial Catalog=Okul;Integrated Security=True" name="OkulConString" providerName=".NET Framework Data Provider for SQL Server"/>
 </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>